.container {
  width: 1440px;
  padding: 48px 64px;
}

.headerDiv {
}

.truckName {
  margin-bottom: 8px;
}

.revLocPrice {
  margin-bottom: 28px;
}

.reviewsLocation {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.reviews,
.location {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #101828;
}

.starMap {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.price {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: #101828;
}

.photosList {
  display: flex;
  gap: 48px;
  margin-bottom: 28px;
}

.photoLi {
}

.photo {
  border-radius: 10px;
  width: 292px;
  height: 312px;
  object-fit: cover;
}

.photoDescription {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #475467;
  margin-bottom: 60px;
}

.featuresReviews {
  position: relative;
  margin-bottom: 64px;
}

.featuresReviewsLinks {
  display: flex;
  gap: 40px;
  margin-bottom: 24px;
}

.link {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #101828;
}

.line {
  position: absolute;
  top: 50px;
  width: 1312px;
  height: 1px;
  background-color: #dadde1;
}

.link.active::after {
  position: absolute;
  content: '';
  display: block;
  width: 82px;
  height: 5px;
  background-color: #e44848;
  margin-top: 24px;
  z-index: 10;
}

.wrapper {
  display: flex;
  gap: 40px;
}
